/* .rank-title {
    color: white;
    font-family: "Minecraftia", sans-serif;
    font-style: normal;
}

.hero {
    background: #9fc2ff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.legend {
    background: #FF9FD3;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.infinity {
    background: #FF0000;
    background-clip: text;
    -webkit-text-fill-color: transparent;
} */